<div class="row">
	<div class="col-sm-12">
		<h1><%= @membership.team_name %></h1>
<p class="lead">League: <%= link_to @membership.league.name, @membership.league %> &bull;
Owner: <%= @membership.user.email %>
</p>
	</div>
</div>

<div class="row">
	<div class="col-12">

<table class="table table-striped table-bordered">
	<tr>
		<th>Race</th>
		<th>Date</th>
		<th>Points</th>
	</tr>
	<%= render @membership.league.matches %>
</table>
</div>
</div>

<%= link_to 'Team settings', edit_membership_path(@membership) %> or

<%= link_to 'Leave this league', leave_league_path(@membership.league), class: 'btn btn-danger' %>

<%= button_to 'Leave league', @membership, method: :delete, confirm: 'Are you sure?' %>
