<div class="page-header">
<h1>League Settings</h1>
</div>
<%= simple_form_for @league do |f| %>
	<%= f.input :name %>
  <%= f.input :description %>
	<%= f.input :max_teams, collection: 2..12 %>
	<%= f.input :max_matches, collection: 1..18 %>
	<%= f.input :private %>
	<%= f.hidden_field :manager_id, value: current_user.id %>
	<strong>Races</strong>
	<% Race.all.each do |race| %>
		<div>
      <%= check_box_tag "league[race_ids][]", race.id, @league.race_ids.include?(race.id) %>
      <%= label_tag :race_ids, race.name -%>
    </div>
    <% end %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Destroy League', @league, :confirm => 'Are you sure you want to destroy this league?', :method => :delete %>

<% # TODO - once race is completed, disable its checkbox %>