<h1>Leagues</h1>
<p>There are <%= League.count %> available leagues</p>

<table>
	<tr>
		<th>Name</th>
		<th>Manager</th>
		<th>Join</th>
	</tr>
	<% @leagues.each do |league| %>
	<tr>
		<td><%= link_to league.name, league_path(league) %></td>
		<td><%= league.manager.email if league.manager %></td>
		<td><%= link_to 'Join', root_url %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'New league', new_league_path %>