<h1>Create a league</h1>
<p><%= current_user.email %> is about to create a league up in err.</p>

<%= simple_form_for @league, :html => {:class => 'form-horizontal'} do |f| %>
	<%= f.input :name %>
	<% Race.all.each do |race| %>
		<div>
      <%= check_box_tag "league[race_ids][]", race.id, @league.race_ids.include?(race.id) %>
      <%= label_tag :race_ids, race.name -%>
    </div>
    <% end %>
	<%= f.button :submit %>
	<%= f.hidden_field :manager_id, value: current_user.id %>
<% end %>