<div class="page-header">
  <h1><%= @league.name %> <% if @league.private? %><small><em>private</em></small><% end %></h1>
</div>

<ul class="nav nav-pills">
  <li class="active"><a href="#league" data-toggle="tab">League</a></li>
  <li><a href="#team" data-toggle="tab">My Team</a></li>
  <li><a href="#rules" data-toggle="tab">Rules</a></li>
  <li><a href="#standings" data-toggle="tab">Standings</a></li>
  <% if current_manager %>
    <li><%= link_to 'Settings', edit_league_path(@league) %></li>
    <li><%= link_to 'Invite Friends', new_league_invitation_path(@league) %></li>
  <% end %>
</ul>

  <h3>Standings</h3>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Position</th>
      <th>Team</th>
      <th>Points</th>
    </tr>
    <% @league.memberships.each_with_index do |team, position| %>
      <tr>
        <td><%= position+1 %></td>
        <td>
          <%= link_to team.team_name, team %>
          <% if team.user.is_manager(@league) %>
          <small><span class="text-muted">(manager)</span></small>
          <% end %>
        </td>
        <td><%= team.total_points %></td>
      </tr>
    <% end %>
  </table>

  <h3>Schedule</h3>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Race</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    <% @league.matches.each do |match| %>
    <tr>
      <td><%= link_to match.race.name, match %></td>
      <td><%= match.race.startdate %></td>
      <td><%= link_to "Make Predictions", new_prediction_path(:match_id => match.id ) %></td>
    </tr>
    <% end %>
  </table>

<% # current_user.total_points(@league) %>

  <% if !current_user.is_member(@league) %>
   <%= link_to 'Join League', join_league_path(@league), class: 'btn btn-success' %>
  <% end %>




