<div class="page-header">
  <h1><%= @league.name %></h1>
</div>

<% if current_user.is_member(@league) %>

<ul class="nav nav-pills">
  <li class="active"><a href="#league" data-toggle="tab">League</a></li>
  <li><a href="#team" data-toggle="tab">My Team</a></li>
  <li><a href="#rules" data-toggle="tab">Rules</a></li>
  <li><a href="#standings" data-toggle="tab">Standings</a></li>
  <% if current_manager %>
    <li><%= link_to 'Settings', edit_league_path(@league) %></li>
    <li><%= link_to 'Invite Friends', new_league_invitation_path(@league) %></li>
  <% end %>
</ul>

  <h3>Standings</h3>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Position</th>
      <th>Team</th>
      <th>Points</th>
    </tr>
    <%= render @league.memberships %>
  </table>

  <h3>Schedule</h3>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Race</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
    <%= render @league.matches %>
  </table>

<% # current_user.total_points(@league) %>

  <% if !current_user.is_member(@league) %>
  <% end %>

<% else %>
  <% link_to 'Join this league', join_league_path(@league), class: 'btn btn-success' %>
  <%= button_to 'Join this league', memberships_path(league_id: @league.id), class: 'btn btn-success' %>

  <h3>Teams</h3>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Pos.</th>
      <th>Name</th>
      <th>Pts.</th>
    </tr>
    <%= render @league.memberships %>
  </table>
  <h4>Schedule (<%= @league.matches.count %> matches)</h4>
  <ol>
    <% @league.matches.each do |match| %>
      <li><%= match.race.name %> <small class="text-muted"><%= l match.race.startdate, format: :long %></small></li>
    <% end %>
  </ol>
<% end %>



