<h1>Predictions for <%= @match.race.name %></h1>

<%= form_for [@match, @prediction] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
    <% count = 1 %>
<%= f.fields_for :picks do |ff| %>
    <%= ff.hidden_field :position %>
    <div class="input-group">
      <span class="input-group-addon"><%= count %>.</span>
      <%= ff.text_field :athlete_name, class: 'form-control', data: {autocomplete_source: ajax_index_path}, placeholder: 'athlete name' %>
    </div>
    <% count = count + 1 %>
<% end %>
<%= f.submit %>
<% end %>

<%= link_to 'Destroy Prediction', match_prediction_path(@match, @prediction), :confirm => 'Are you sure you want to destroy this prediction?', :method => :delete %>   