<div class="page-header">
	<h1>Prediction <small><%= @prediction.match.race.name %></small></h1>
</div>
<table class="table table-striped table-bordered">
	<tr>
		<th>Pos.</th>
		<th>Athlete</th>
	</tr>
	<% @prediction.picks.each do |pick| %>
	<tr>
		<td><%= pick.position %></td>
		<td><%= pick.athlete.name %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Back to match', match_path(@prediction.match) %> or

<%= link_to 'Back to league', league_path(@match.league) %>