<h1><%= @match.race.name %></h1>

<ul class="nav nav-tabs">
	<% if @match.race.results.present? %>
  	<li class="active"><a href="#results" data-toggle="tab">Results</a></li>
  	<% if @match.predictions.present? %>
  		<li><a href="#leagueStandings" data-toggle="tab">Points</a></li>
  	<% end %>
  <% end %>
  	<li><a href="#myPredictions" data-toggle="tab">My Predictions</a></li>
  	<li><a href="#leaguePredictions" data-toggle="tab">League Predictions</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade active in" id="results">
		<table class="table table-striped table-bordered">
			<tr>
				<th>Pos</th>
				<th>Athlete</th>
			</tr>
			<% @match.race.results.each do |result| %>
				<tr>
					<td><%= result.position %></td>
					<td><%= link_to result.athlete.name, result.athlete %></td>
				</tr>
			<% end %>
		</table>
	</div>
	<div class="tab-pane fade" id="myPredictions">
		<% if @prediction %>
			<table class="table table-bordered table-striped table-condensed">
				<tr>
					<th>Pos.</th>
					<th>Athlete</th>
				</tr>
				<% @prediction.picks.each do |pick| %>
					<tr>
						<td><%= pick.position %></td>
						<td><%= pick.athlete.name %></td>
					</tr>
				<% end %>
			</table>
		<% else %>
			<%= link_to "Make Predictions", new_prediction_path(:match_id => @match.id ) %>
		<% end %>
	</div>
	<div class="tab-pane fade" id="leaguePredictions">
		<p>League Predictions</p>
	</div>
	<% if @match.predictions.present? && @match.race.results.present? %>
		<div class="tab-pane fade" id="leagueStandings">
			<table class="table table-striped table-bordered">
				<tr>
					<th>Team</th>
					<th>Points after this race</th>
				</tr>
				<% @match.league.memberships.each do |team| %>
					<tr>
						<td><%= team.user.email %></td>
						<td><%= team.user.points(@match) %></td>
					</tr>
				<% end %>
			</table>
		</div>
	<% end %>
</div>